{% set clusters = [] %}
{% for cluster in control_plane_source_config.clusters %}
{% if cluster.name == 'kubernetes' %}
{% set endpoint = 'https://' ~ inventory_hostname ~ ':6443' %}
{% set cluster = cluster | combine({'cluster': cluster.cluster | combine({'server': endpoint})}) %}
{% endif %}
{% set _ = clusters.append(cluster) %}
{% endfor %}
{{ control_plane_source_config | combine({'clusters': clusters}) | to_nice_yaml(indent=2) }}
