all:
  children:
    k8s_nodes:
      children:
        control_plane:
          hosts:
%{ for node in control_planes ~}
            ${node.hostname}:
%{ endfor ~}

        workers:
          hosts:
%{ for node in workers ~}
            ${node.hostname}:
%{ endfor ~}
